html {
  box-sizing: border-box;
  position: relative;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #0E1014;
  font-family: "Inter", sans-serif;
  color: #E4E5EA;
}

nav {
  display: flex;
  align-items: center;
}

.purple-ball {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  left: 868px;
  top: -2px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: -2;
}

.red-ball {
  position: absolute;
  width: 83px;
  height: 83px;
  border-radius: 100%;
  left: 519px;
  top: 83px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.2509803922);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: -2;
}
.red-ball_secondary {
  width: 28px;
  height: 28px;
  left: 851px;
  top: 547px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
}

.purple-light {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
  z-index: -2;
}

.red-light {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 250px;
  background: #961A1A;
  opacity: 0.5;
  filter: blur(196px);
  z-index: -2;
}

.yellow-light {
  display: none;
}

.container {
  width: 1172px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 46px;
  height: 73px;
  width: 100%;
}
.header__mobile-contacts {
  display: none;
}
.header__logo {
  width: 140px;
  margin-right: 52px;
}
.header__logo-img {
  width: inherit;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__wrapper-left {
  display: inherit;
}
.header__menu {
  display: flex;
  gap: 30px;
}
.header__menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.header__menu-link:hover {
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__title {
  width: 165px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  padding-right: 23px;
  margin-top: 10px;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts__phone {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #E4E5EA;
}
.contacts__phone:hover {
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.contacts__social {
  display: flex;
  gap: 30px;
  margin-left: 47px;
}
.contacts__img {
  height: 20px;
  width: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  padding-top: 40px;
}
.main__wrapper-left {
  width: 370px;
}
.main__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.main__title span {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 30px;
}
.main__wrapper-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 308px;
}
.main__advantages {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin-top: 10px;
}
.main__advantages span {
  flex-direction: row;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FD8A3B 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main__advantages span:nth-child(2) {
  background: linear-gradient(90deg, #FCB045 36.99%, #FD6F34 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main__advantages-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.main__advantages-item-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.main__advantages-item-descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  width: 135px;
}

#mobile-advanages {
  display: none;
}

.btn-consult {
  margin-top: 61px;
  width: 262px;
  height: 61px;
  background: #4077F3;
  border: none;
  color: #E4E5EA;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.btn-consult:hover {
  color: white;
  background: #316cf5;
}

#footer-menu {
  width: 410px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#footer-menu .footer__menu-item {
  margin-top: 0;
}

#footer-menu .footer__menu-item:nth-child(4) {
  width: 220px;
}

.footer {
  height: 315px;
  margin-top: 69px;
  padding-top: 55px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__menu-outer {
  display: flex;
}
.footer__menu-wrapper:nth-child(1) {
  width: 107px;
}
.footer__menu-wrapper:nth-child(2) {
  margin-left: 98px;
}
.footer__menu-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
}
.footer__menu {
  margin-top: 20px;
}
.footer__menu-item {
  margin-top: 10px;
}
.footer__menu-item:hover {
  color: #FCB045;
}
.footer__menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer__contacts-wrapper {
  text-align: right;
}
.footer__contacts-wrapper .footer__menu-title {
  margin-bottom: 20px;
}
.footer__contacts-wrapper .contacts__social {
  margin-left: 0;
  margin-top: 21px;
  justify-content: flex-end;
  gap: 10px;
}
.footer__contacts-wrapper .contacts__address {
  margin-top: 20px;
}

.copyright {
  margin-top: 33px;
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.copyright__policy {
  display: block;
  text-decoration: underline;
  margin-top: 5px;
}

@media (max-width: 1190px) {
  .container {
    width: 100%;
  }
  .purple-ball {
    left: 72%;
  }
  .red-ball {
    left: 44.5%;
  }
  .red-ball_secondary {
    left: 71.5%;
  }
  .purple-light {
    left: 50%;
  }
}
@media (max-width: 1033px) {
  .header__logo {
    margin-right: 25px;
  }
  .header__menu {
    gap: 20px;
  }
  .contacts__social {
    margin-left: 25px;
  }
  .footer__menu-wrapper:nth-child(2) {
    margin-left: 38px;
  }
}
@media (max-width: 944px) {
  .contacts__phone:nth-child(1) {
    display: none;
  }
}
@media (max-width: 803px) {
  .header__menu {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
  .purple-ball {
    width: 40px;
    height: 40px;
    left: 296px;
    top: 324px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .red-ball {
    width: 43px;
    height: 43px;
    left: 29px;
    top: 500px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .red-ball_secondary {
    width: 18px;
    height: 18px;
    left: 278px;
    top: 651px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .purple-light {
    width: 259px;
    height: 259px;
    left: 258px;
    top: 195px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
  }
  .red-light {
    width: 211px;
    height: 210px;
    left: -55px;
    top: 330px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
  }
  .yellow-light {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    left: -66px;
    top: 607px;
    background: #FCB045;
    opacity: 0.4;
    filter: blur(196px);
    z-index: -1;
  }
  .header {
    position: sticky;
    top: 0;
    height: 55px;
    width: inherit;
    margin-top: 0;
    background: #0E1014;
    z-index: 1;
  }
  .header__wrapper {
    justify-content: start;
    flex-wrap: wrap;
  }
  .header__logo {
    display: none;
  }
  .header__menu {
    gap: 16px;
  }
  .header__title {
    display: none;
  }
  .header__mobile-contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0 0 0;
  }
  .header__contacts-social {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .contacts {
    display: none;
  }
  #mobile-logo {
    display: block;
    margin-right: 0;
  }
  .footer {
    background: #0E1014;
  }
  .copyright {
    padding-bottom: 60px;
  }
}
@media (max-width: 692px) {
  .main {
    flex-direction: column;
  }
  .main__wrapper-left {
    margin: 0 auto;
  }
  .main__wrapper-right {
    margin: 0 auto;
    margin-top: 35px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts-wrapper {
    margin-top: 30px;
    text-align: left;
  }
  .footer__contacts-wrapper .contacts__social {
    justify-content: start;
    margin-top: 8px;
  }
  .footer__contacts-wrapper .contacts__address {
    margin-top: 10px;
  }
}
@media (max-width: 572px) {
  .header__wrapper {
    justify-content: center;
  }
  .footer__menu-outer {
    flex-wrap: wrap;
    width: 100%;
  }
  .footer__menu-wrapper:nth-child(1) {
    width: 195px;
  }
  .footer__menu-wrapper:nth-child(2) {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
}
@media (max-width: 469px) {
  .header__menu-item:last-child {
    display: none;
  }
  .copyright {
    text-align: left;
  }
  .main__advantages-wrapper {
    display: none;
  }
  .main__advantages {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .main__advantages span {
    text-transform: lowercase;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  .main__advantages-item {
    position: relative;
    width: 120px;
  }
  .main__advantages-item-descr {
    text-align: left;
    margin-left: 10px;
  }
  .main__advantages-item-descr::before {
    content: "";
    width: 10px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 7px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  }
  #mobile-advanages {
    display: grid;
    gap: 15px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-top: 20px;
  }
  #mobile-advanages .main__advantages-item-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-left: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .btn-consult {
    display: none;
  }
}
@media (max-width: 414px) {
  .header__menu {
    gap: 21px;
  }
  .header__menu-link {
    text-transform: uppercase;
  }
  .main__wrapper-left {
    margin: 0;
  }
  .main__wrapper-right {
    margin: 0;
  }
}
@media (max-width: 412px) {
  .main {
    flex-direction: column;
    height: 451px;
    justify-content: start;
    margin-top: 0;
  }
  .main__wrapper-left {
    width: auto;
  }
  .main__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }
  .main__title span {
    font-size: 36px;
    line-height: 44px;
  }
  .main__descr {
    margin-top: 15px;
  }
  .main__wrapper-right {
    width: auto;
    margin-top: 45px;
    align-items: start;
  }
  .main__advantages {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-right: 25px;
  }
  .main__advantages span {
    text-transform: lowercase;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  .footer {
    margin-top: 0;
    height: 615px;
  }
  #footer-menu .footer__menu-item {
    width: 178px;
    padding-right: 11vw;
  }
  #footer-menu {
    width: 100%;
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 360px) {
  .header__menu {
    gap: 9px;
  }
  .header__menu-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
  }
}
@media (max-width: 320px) {
  .header__menu-link {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */